<!DOCTYPE html>
<html>
<head>
  <title>유니스트 축제 페이지</title>
  <%= csrf_meta_tags %>
</head>
<body>

  <a href="/team1">1팀 : 길영재 박유선 양진 정하빈</a><br>
  <a href="/team2">2팀 : 서용혁 최소원 김희재</a><br>
  <a href="/team3">3팀 : 김태수 김태진 김택수 전대성</a><br>
  <a href="/team4">4팀 : 김지완 빈경민 이지영 윤동하</a><br>

</body>
</html>


