<!DOCTYPE html>
<html>
<head>
  <title>2팀</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Home#team2</h1>
  <p>this is U-festival test page</p>
  
</body>
</html>

